        <style>
        .button{
            display: flex;
        }
        </style>

        
    <form action="/index" method="get">
        <button type="submit">Home</button>
    </form>
    <form action="/songs" method="get">
        <button type="submit">Listar músicas</button>
    </form>
    <form action="/new-song" method="get">
        <button type="submit">Adicionar Músicas</button>
    </form>
    <form action="/price" method="get">
        <button type="submit">Gerir preço por like</button>
    </form>