<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: aliceblue;
    }

    header {
        color: #fff;
        text-align: center;
    }
    form {
        display: inline-block;
        margin-right: 10px;
        padding: 10px;
    }

    button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        border-radius: 4px;
    }
</style>

        
    <form action="/" method="get">
        <button type="submit">Home</button>
    </form>
    <form action="/songs" method="get">
        <button type="submit">Listar músicas</button>
    </form>
    <form action="/new-song" method="get">
        <button type="submit">Adicionar Músicas</button>
    </form>
    <form action="/price" method="get">
        <button type="submit">Gerir preço por like</button>
    </form>