<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
    body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    text-align: center;
}

header {
    background-color: #1e1e2d;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #222;
    margin-top: 30px;
    font-size: 2em;
    font-weight: 600;
}



form {
    background: white;
    padding: 25px;
    margin: 30px auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1em;
    transition: border 0.3s;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

</style>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <h1>Bem-Vindo à pagina inicial</h1>

    <p>Esta é a pagina inicial da aplicação PSIFY</p>
    <p>Utilize o meno acima para navegar pelas diferentes paginas da aplicação</p>

    <p>Obter uma musica</p>
    <form id="musicID">
        <label for="id">Id da musica:</label>
        <input type="text" name="id" id="id">
        <button type="submit">Obter</button>
    </form>

    <script>   


        document.getElementById('musicID').addEventListener('submit', function(event){
            event.preventDefault();

            const formData = new FormData (event.target);
            const data = Object.fromEntries(formData.entries());

            window.location.href = "http://localhost:3000/song/" + data.id;
        });
    </script>
</body>
</html>