<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <h1>Bem-Vindo à pagina inicial</h1>

    <p>Esta é a pagina inicial da aplicação PSIFY</p>
    <p>Utilize o meno acima para navegar pelas diferentes paginas da aplicação</p>

    <p>Obter uma musica:</p>
    <form id="music_id">
        <label for="id">Id da musica:</label>
        <input type="text" name="id" id="id">
        <button type="submit">Obter</button>
    </form>
</body>
</html>