<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <h1>Criar uma música nova</h1>

    <form id="new-song_form">
        <label for="title">Titulo:</label>
        <input type="text" name="title" id="title">

        <br>

        <label for="artist">Artista:</label>
        <input type="text" name="artist" id="artist">

        <br>

        <label for="album">Album:</label>
        <input type="text" name="album" id="album">

        <br>

        <label for="genre">Género:</label>
        <input type="text" name="genre" id="genre">

        <br>

        <label for="duration_seconds">Duração (segundos):</label>
        <input type="text" name="duration_seconds" id="duration_seconds">

        <br>

        <label for="release_date">Data de Lançamento:</label>
        <input type="date" name="release_date" id="release_date">

        <br>

        <label for="likes">Likes:</label>
        <input type="text" name="likes" id="likes">

        <br>

        <button type="submit">Adicionar</button>
    </form>
    <script>   


        document.getElementById('new-song_form').addEventListener('submit', function(event){
            event.preventDefault();

            const formData = new FormData (event.target);
            const data = Object.fromEntries(formData.entries());

            axios.post('/api/songs', data).then(response => {
                console.log('Success', response.data);
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>