<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>

    <h1>Editar preço por Like:</h1>

    <form id="price_Form">
        <label for="price">Preço por like:</label>
        <input type="text" name="price" placeholder="<%= price %>">
        <input type="submit" value="Atualizar">
    </form>

    <script>   
        document.getElementById('price_Form').addEventListener('submit', function(event){
            event.preventDefault();

            const formData = new FormData (event.target);
            const data = Object.fromEntries(formData.entries());

            axios.put('/api/price', data).then(response => {
                console.log('Success', response.data);
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>